<h1><%= link_to I18n.t("tog_faq.views.admin.categories"), admin_faqs_faq_categories_url%> / <%= link_to @faq.faq_category.name, edit_admin_faqs_faq_category_path(@faq.faq_category)%> / Edit FAQ</h1>

<p><%= link_to I18n.t("tog_faq.views.admin.remove_faq"), admin_faqs_faq_url(@faq), :method => :delete, :confirm => I18n.t("tog_faq.views.admin.remove_faq_confirmation"), :class=>"button mainaction delete", :title => I18n.t("tog_faq.views.admin.remove_faq") %></p>

<%= error_messages_for :faq %>
<% form_for @faq, :url => {:action => :update},  :html => {:id => "new_faq"} do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <br />  
  <div class="actions">
    <%= submit_tag I18n.t("tog_faq.views.admin.update"), {:accesskey => "s", :class=>"button"} %>
  </div>
    
<% end -%>